@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


*{
    margin: 0px;
}

header{
    background-color: rgb(0, 0, 0);
    height: 320px;
    color: white;
    text-align: center;
}

header p {
    font-size: 20px;
}

h1{
    font-family: 'Passion One', sans-serif;
    padding-top: 90px;
    font-size: 160px;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

main p {
    font-family: 'Sriracha', cursive;
    font-size: 67px;
    padding-left: 1em;

}

main{
    padding-top: 50px;
}

#joaninha{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    color: white;
}




